* {
    margin:0px ;
    padding: 0px;
}
.body {
    background-color: gray;
}

.nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    z-index: 2;
    top:0;
    position: sticky;
    margin-top: 6vh;
    padding: 25px;
    background-color: #fff;
}

.nav a {
    text-decoration: none;
    font-weight: 800;
    font-size: 25px;
}

.nav .right {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.nav .left a {
    color: black;
    
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding:4rem;
    gap: 0px;
    
}
.main img {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    position: relative;
}

.education {
    position: relative;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
    padding:2rem;
}

.education h2 {
    position: relative;
    margin-top: 5vh;
}

.education ul {
    position: relative;
    margin-top: 2vh;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap: 5px;
}

.skill {
    display: flex;
    position: relative;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
    padding:2rem;
    justify-content: center;
    gap: 10vmin;
    flex-wrap: wrap;
}

.skillbox {
    display: flex;
    /* width: 10vmin;
    height: 5vmin; */
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    border: none;
}

.skillbox {
    font-size: large;
}

.projects {
    display: flex;
    position: relative;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
    padding:2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    
}

.resource {
    display: flex;
    position: relative;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
    padding:2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    position: relative;
    margin-top: 4rem;
    height: 20vh;
}

