* {
    margin:0px ;
    padding: 0px;
}

.nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    z-index: 2;
    top:0;
    position: sticky;
    margin-top: 6vh;
    padding: 1.5rem;
    background-color: #fff;
}


.nav .right {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

.left a {
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: inherit;
    font-style:unset;
    color: #343a40;
}


.right a {
    text-decoration: none;
    color: #343a40;
    font-size: 25px;
    font-family: "Playfair Display", sans-serif;
}
.nav a:hover {
    color: #0c0f0a;
    font-style: normal;
    font-weight: 600;
    /* background-color:#dee2e6; */
    border-bottom: 4px solid #6c757d ;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 2rem;
    padding:4rem;
}

.main img {
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    position: relative;
}

.main p {
    font-family: "Playfair Display", sans-serif;
    word-spacing: 3px;
    font-size: 18px;
}
.main img:hover {  
    box-shadow: 0px 0px 10px 6px #bfc0c0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap : 0.5rem;
}

.content h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.education {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    padding:2rem;
}

.education h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    position: relative;
    margin-top: 4vh;
}

.education ul {
    font-family: "Playfair Display", sans-serif;
    position: relative;
    margin-top: 2vh;
}

.inst {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.skill {
    display: flex;
    position: relative;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    padding:2rem;
    justify-content: center;
    gap: 10vmin;
    /* flex-wrap: wrap; */
}

.skillbox {
    display: flex;
    /* width: 10vmin;
    height: 5vmin; */
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    border: none;
}

.skillbox {
    font-size: large;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    background: linear-gradient(145deg,#e6e6e6,#fff);
    font-size: 20px;
    border-radius: 20px;
    border: none;
}

.skillbox:hover {
    font-style: italic;
    background-color: white;
    background: linear-gradient(145deg,#fff,#fff);

    box-shadow: 0px 0px 10px 6px #bfc0c0;
}

.projects {
    display: flex;
    position: relative;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    padding:2rem;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    gap:5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 2rem;
    border: none;
    background: linear-gradient(145deg,#e6e6e6,#fff);
    border-radius: 30px;
}

.card h2, .resource h2{
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    text-align: center;
}

.card p {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    word-spacing: 2px;
    font-style: initial;
}


.resource {
    display: flex;
    position: relative;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    padding:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}


.card a, .resource a {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #1b263b;
    text-align: center;
}

.card a:hover, .resource a:hover {
    color: #0b090a;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}
.notebox {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 0.7rem;
    border: none;
    background: linear-gradient(145deg,#e6e6e6,#fff);
    border-radius: 30px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    background: linear-gradient(145deg,#e6e6e6,#fff);
    background-color: #fff;
    position: relative;
    margin-top: 4rem;
    height: 20vh;
}

.title {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
}

.title h1 {
    font-family:"Playfair Display", sans-serif ;
    font-weight: 700;
    letter-spacing: 2px;
    color: #343a40;
}

@media only screen and (max-width: 600px) {

    .nav {
        display: none;
    }
    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        padding:4rem;
    }


    .education {
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        padding:2rem;
    }

    .notebox {
        display: flex;
        flex-direction: column;
        padding: 1.2rem;
        gap: 0.7rem;
    }

    .skill {
        display: flex;
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        padding:2rem;
        justify-content: center;
        gap: 10vmin;
        flex-wrap: wrap;
    }

    .projects {
        display: flex;
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        padding:2rem;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap:5rem;
    }

    .resource {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 4rem;
        padding:2rem;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .notebox h2 {
        text-align: center;
    }
  }